---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: cornserve
  name: task-manager-cr-access-role
rules:
- apiGroups: ["cornserve.ai"]
  resources: ["taskdefinitions", "unittaskinstances", "executiondescriptors", "latesttasklibrvs"]
  verbs: ["create", "update", "patch", "get", "list", "watch", "delete"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: cornserve
  name: task-manager-pod-service-management-role
rules:
- apiGroups: [""]
  resources: ["pods", "pods/log", "services"]
  verbs: ["*"]
