apiVersion: apps/v1
kind: Deployment
metadata:
  name: resource-manager
  namespace: cornserve
  labels:
    app: resource-manager
spec:
  selector:
    matchLabels:
      app: resource-manager
  replicas: 1
  template:
    metadata:
      labels:
        app: resource-manager
    spec:
      nodeSelector:
        node-role.kubernetes.io/control-plane: "true"
      serviceAccountName: resource-manager
      containers:
      - name: resource-manager
        image: cornserve/resource-manager:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 50051
          name: grpc
        envFrom:
        - configMapRef:
            name: cornserve-config
        volumeMounts:
        - name: profiles
          mountPath: /etc/cornserve/profiles
          readOnly: true
      volumes:
      - name: profiles
        configMap:
          name: cornserve-profiles
          optional: true
