---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: cornserve
  name: resource-manager-cr-access-role
rules:
- apiGroups: ["cornserve.ai"]
  resources: ["taskdefinitions", "unittaskinstances", "executiondescriptors", "latesttasklibrvs"]
  verbs: ["create", "update", "patch", "get", "list", "watch", "delete"]
- apiGroups: ["cornserve.ai"]
  resources: ["unittaskprofiles"]
  verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: cornserve
  name: resource-manager-pod-service-management-role
rules:
- apiGroups: [""]
  resources: ["pods", "services"]
  verbs: ["create", "update", "patch", "get", "list", "watch", "delete"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: resource-manager-nodes-role
rules:
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["list"]
- apiGroups: [""]
  resources: ["endpoints"]
  verbs: ["list"]
