name: Python format and lint check

on:
  pull_request:
    paths:
      - '.github/workflows/python_lint.yaml'
      - 'scripts/generate_pb.sh'
      - 'python/**'
      - 'tasklib/**'
      - 'examples/**'
      - 'proto/**'
  push:
    paths:
      - '.github/workflows/python_lint.yaml'
      - 'scripts/generate_pb.sh'
      - 'python/**'
      - 'tasklib/**'
      - 'examples/**'
      - 'proto/**'

# Jobs initiated by previous pushes get cancelled by a new push.
concurrency:
  group: ${{ github.ref }}-python-format-and-lint
  cancel-in-progress: true

jobs:
  format_lint:
    if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          python-version: "3.11"
          version: "latest"
      - name: Install library and lint tools
        run: uv venv --python 3.11 && uv pip install "./python[dev-no-gpu]"
      - name: Generate protobuf files
        run: uv run bash scripts/generate_pb.sh
      - name: Check format and lint
        run: uv run bash scripts/lint.sh
